.video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 10px;
  }


body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
  }

  body {
	background-color: rgb(240, 240, 240);
	color: #333;
  }

  .dark {
	background-color: rgb(135, 135, 135);
	color: #f5f5f5;
  }


  header {
	background-color: #0071C5;
	color: #fff;
	padding: 20px;
  }

  h1, h2 {
	margin: 0;
  }

  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }

  nav li {
	margin-right: 20px;
  }

  nav a {
	color: #fff;
	text-decoration: none;
  }

  main {
	margin: 20px;
  }

  section {
	margin-bottom: 40px;
  }

  footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
  }

  #canvas-pie {
    display: flex;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    border-radius: 10px;
}

  .form-container {
	text-align: left;
	max-width: 600px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
  }

  .form-container label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 16px;
  }

  .form-container button[type="submit"] {
	display: block;
	padding: 10px 20px;
	background-color: #4285F4;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
  }

  .form-container button[type="submit"]:hover {
	background-color: #3367D6;
  }

  .submit-button-container {
	text-align: center;
  }

  .submit-button-container button[type="submit"] {
	display: inline-block;
	padding: 10px 50px;
	background-color: #4285F4;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
  }

  .submit-button-container button[type="submit"]:hover {
	background-color: #3367D6;
  }

  <style>
        #canvas-container {
            position: relative;
            height: 80%;
            width: 80%;
        }
    </style>